doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.b-slider
				.b-slider__badges
					.container
						img(src="img/badge-bestseller.png", alt="")
						img(src="img/badge-gmo.png", alt="")
				.b-slider__inner
					.b-slider__slide.b-slider__slide--1
						.b-slider__part.b-slider__part--1
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-1-1-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-1-1.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text Снова не получилось? #[br] В ответственный момент #[br] член снова не встал?
									button.c-btn.b-slider__btn Исправить ситуацию
						.b-slider__part.b-slider__part--2
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-1-2-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-1-2.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text #[strong Hordeum Forte] ты готов к сексу 24/7!
									button.c-btn.b-slider__btn Заказать Hordeum Forte
								.b-slider__right
									img(src="img/product.png", alt="").b-slider__product
					.b-slider__slide.b-slider__slide--2
						.b-slider__part.b-slider__part--1
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-2-1-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-2-1.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text Учащённые позывы #[br] сопровождаются  затруднённым #[br]мочеиспусканием, болью #[br] и жжением в яичках?
									button.c-btn.b-slider__btn Избавиться от боли
						.b-slider__part.b-slider__part--2
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-2-2-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-2-2.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text #[strong Hordeum Forte] снимает симптомы воспаления #[br] и инфекций через 17 минут #[br] после первого приема
									button.c-btn.b-slider__btn Заказать Hordeum Forte
								.b-slider__right
									img(src="img/product.png", alt="").b-slider__product
					.b-slider__slide.b-slider__slide--3
						.b-slider__part.b-slider__part--1
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-3-1-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-3-1.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text Быстро кончаешь? Не можешь #[br] удовлетворить партнёршу,#[br] поэтому загружаешь себя #[br] работой и делами?
									button.c-btn.b-slider__btn Вернуть либидо
						.b-slider__part.b-slider__part--2
							.b-slider__wrap
								picture
									source(srcset="img/slide-img-3-2-mobile.png", media="(max-width: 991px)")
									img(src="img/slide-img-3-2.png", alt="").b-slider__img
								.b-slider__left
									p.b-slider__text #[strong Hordeum Forte] вернёт тебе сексуальную #[br] силу. Начать никогда #[br] не поздно!
									button.c-btn.b-slider__btn Заказать Hordeum Forte
								.b-slider__right
									img(src="img/product.png", alt="").b-slider__product
				.b-slider__pager.b-pager
					ul.b-pager__list
						li.b-pager__item #[a(href="", data-slide-index='0').b-pager__handler]
						li.b-pager__item #[a(href="", data-slide-index='1').b-pager__handler]
						li.b-pager__item #[a(href="", data-slide-index='2').b-pager__handler]
		
		script(src="js/bxslider.js")
		script(src="js/common.js")
