doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.b-slider
				.b-slider__badges
					.container
						img(src="img/badge-bestseller.png", alt="")
						img(src="img/badge-gmo.png", alt="")
				.b-slider__inner
					.b-slider__slide.b-slider__slide--1.active
						.container
							.b-slider__part.b-slider__part--1.active
								img.b-slider__img(src="img/slide-img-1-1.png", alt="")
								.b-slider__left
									p.b-slider__text Снова не получилось? #[br] В ответственный момент #[br] член снова не встал?
									button.c-btn.b-slider__btn Исправить ситуацию
							.b-slider__part.b-slider__part--2
								img.b-slider__img(src="img/slide-img-1-2.png", alt="")
								.b-slider__left
									p.b-slider__text
									button.c-btn.b-slider__btn
								.b-slider__right
									img(src="", alt="").b-slider__product
				.b-slider__pager.b-pager
					.b-pager__item.b-pager__item--active
						.b-pager__handler
					.b-pager__item
						.b-pager__handler
					.b-pager__item
						.b-pager__handler

